@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600');
@import "partials/mixins";
@import "partials/forms";
@import "partials/layout";
@import "partials/mediaqueries";

@import "theme/colours";
@import "theme/identity";

.fade-enter-active, .fade-leave-active {
  transition: opacity .4s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0
}

/* Carousel Styling*/

.VueCarousel-slide {
  position: relative;
  background: #42b983;
  color: #fff;
  font-family: Arial;
  font-size: 24px;
  text-align: center;
  min-height: 100px;
}

.VueCarousel-slide .label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
